# This is stuff I copied-pasted from another Node.js project
/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
.DS_Store

# This is stuff I've added
.idea/
.env
dist/
